{{> header}}
<main>
    <div class="main-products-actions">
        {{> form-products}}
        {{> form-products-delete}}
    </div>
    {{> list-products}}
</main>
{{> footer}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>