<form action="" class="deleteForm-container" id="productDeleteForm">
    <h2>Delete a product</h2>
    <label for="idProduct">Id Product</label>
    <input type="text" id="idProduct" name="Id" required>
    <button type="submit">Delete</button>
</form>