<header>
    <h2><a href="/">Logo</a></h2>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/realtimeproducts">Real Time Products</a></li>
        </ul>
    </nav>
</header>